body{
    font-family: 'Shrikhand', cursive;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: rgb(100, 99, 99);
    padding: 10px 20px;
}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: white;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid gray;
    cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;

}

.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400px;
}

.slider{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-size:100% 100vh;

}
.sliderWrapper{
    display: flex;
    width: 500vw;
}

.sliderItem{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderBg{
    width: 800px;
    height: 750px;
    border-radius: 50%;
    background-color: darkred;
}

.sliderTitle{
    position: absolute;
    top: 20%;
    right: 60%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: whitesmoke;
}

.sliderPrice{
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: whitesmoke;
    border: 1px solid gray;
}

